    <!-- jQuery -->
    <script src="{{.BaseUrl}}/assets/admin/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{.BaseUrl}}/assets/admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{.BaseUrl}}/assets/admin/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{.BaseUrl}}/assets/admin/js/sb-admin-2.js"></script>
	
	<script src="{{.BaseUrl}}/assets/js/bonfire.js"></script>