    <!-- jQuery -->
    <script src="{{.BaseUrl}}/assets/admin/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{.BaseUrl}}/assets/admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <!-- <script src="{{.BaseUrl}}/assets/admin/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <!-- <script src="{{.BaseUrl}}/assets/admin/bower_components/raphael/raphael-min.js"></script>
    <script src="{{.BaseUrl}}/assets/admin/js/morris/morris-data.js"></script>
    <script src="{{.BaseUrl}}/assets/admin/js/morris/morris.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{.BaseUrl}}/assets/admin/js/sb-admin-2.js"></script>