<!DOCTYPE html>
<html lang="en">

    {{.BlockHead}}

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
					<span class="glyphicon glyphicon-fire">{{.Title}}</span>
				</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#login">{{.ToplinkAccount}}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#register">Register</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Welcome</h1>
                <hr>
                <p>Why u no join?</p>
                <a href="#login" class="btn btn-primary btn-xl page-scroll">DO IT</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="login">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">

                    <form action="{{.LoginUrl}}" method="post" class="form-signin col-md-8 col-md-offset-2 form-handler">
                        <h2 class="form-signin-heading">Login</h2>
                        <label class="sr-only" for="inputEmail">Email address</label>
                        <input type="email" name="email" autofocus="" required="" placeholder="Email address" class="form-control" id="inputEmail">
                        <label class="sr-only" for="inputPassword">Password</label>
                        <input type="password" name="password" required="" placeholder="Password" class="form-control" id="inputPassword">
                        
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Go</button>
                    </form>

                </div>
            </div>
        </div>
    </section>

    <section id="register">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Register</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <form action="{{.RegisterUrl}}" method="post" class="form-signin col-md-8 col-md-offset-2 form-handler">
					
                        <label class="sr-only" for="inputFirst">First Name</label>
                        <input name="first" required="" placeholder="First Name" class="form-control" id="inputFirst">
                        <label class="sr-only" for="inputPassword">Last Name</label>
                        <input name="last" required="" placeholder="Last Name" class="form-control" id="inputLast">
                        <label class="sr-only" for="inputEmail">Email address</label>
                        <input type="email" name="email" autofocus="" required="" placeholder="Email address" class="form-control" id="inputEmail">
                        <label class="sr-only" for="inputPassword">Password</label>
                        <input type="password" name="password" required="" placeholder="Password" class="form-control" id="inputPassword">
                        
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Go</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    {{.BlockFoot}}

</body>

</html>