<!DOCTYPE html>
<html lang="en">

    {{.BlockHead}}

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{.Title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                       <a class="page-scroll" href="{{.LogoutUrl}}">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
	<header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Welcome</h1>
                <hr>
                <p>Why u no join?</p>
                <a href="#login" class="btn btn-primary btn-xl page-scroll">DO IT</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="login">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
				
				</div>
			</div>
		</div>
	<section>
    {{.BlockFoot}}

</body>

</html>