	<!-- jQuery -->
    <script src="{{.BaseUrl}}/assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{.BaseUrl}}/assets/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="{{.BaseUrl}}/assets/js/jquery.easing.min.js"></script>
    <script src="{{.BaseUrl}}/assets/js/jquery.fittext.js"></script>
    <script src="{{.BaseUrl}}/assets/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{.BaseUrl}}/assets/js/creative.js"></script>
    <script src="{{.BaseUrl}}/assets/js/bonfire.js"></script>