            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Edit</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
					<form role="form">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Attached Attributes
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                     {{ range $key, $value := $.EntityMap }}
										<button type="button" class="btn btn-primary">{{$value.Name}}</button>	
									{{ end }}
									<input type="hidden" name="attrs" value="">
                                </div>
                            </div>
                            <!-- /.row (nested) -->
							
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
					<div class="panel panel-default">
                        <div class="panel-heading">
                            All Attributes
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                     {{ range $key, $value := $.AttributeMap }}
										<button type="button" class="btn btn-primary">{{$value.Name}}</button>
									{{ end }} 
                                </div>
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
					<button type="submit" class="btn btn-success">Save</button>
					</form>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
