
    <div class="row">
        <div class="col-lg-12">
			<h1 class="page-header pull-left">{{.GridTitle}}</h1>
			<a class="btn btn-primary page-header pull-right" href="#" role="button"><i class="icon-plus"></i> New</a>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{.EntityName}}

                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
					<a class="btn btn-success pull-right" href="#" role="button"><i class="icon-plus"></i> Do It</a>
					<div class="dropdown pull-right">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    Mass Actions<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</div>
					
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            
                                <!--<tr class="odd gradeX">
									  <td><input type="checkbox" name="1"/></td>
                                    <td>1</td>
                                    <td>Post</td>
                                    <td>1, 7, 9, 48</td>
									  <td>
									    <a class="btn btn-primary " href="#" role="button"><i class="icon-plus"></i> Edit</a>
									  </td>
                                </tr>
                                <tr class="even gradeC">
									  <td><input type="checkbox" name="2"/></td>
                                    <td>2</td>
                                    <td>Page</td>
                                    <td>1, 7, 9, 48</td>
									  <td>
									    <a class="btn btn-primary " href="#" role="button"><i class="icon-plus"></i> Edit</a>
									  </td>
                                </tr>-->
								{{if .EntityMap}}
								<thead>
                                <tr>
									  <th>Select</th>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Linked Attributes</th>
									  <th>Actions</th>
                                </tr>
                            	</thead>
                            	<tbody>
									{{ range $key, $value := $.EntityMap }}
										<tr class="odd gradeX">
											<td><input type="checkbox" name="{{ $value.Id }}"/></td>
					                       <td>{{ $value.Id }}</td>
					                       <td>{{ $value.Name }}</td>
					                       <td>{{ $value.Attributes }}</td>
											<td>
											<a class="btn btn-primary " href="/admin/ajax/edit/entity/{{$value.Id}}" role="button"><i class="icon-plus"></i> Edit</a>
											</td>
                                		</tr>
									{{ end }}
                            	</tbody>
								{{ end }}
								{{if .AttributeMap}}
								<thead>
                                <tr>
									  <th>Select</th>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Type</th>
									  <th>Actions</th>
                                </tr>
                            	</thead>
                            	<tbody>
									{{ range $key, $value := $.AttributeMap }}
										<tr class="odd gradeX">
											<td><input type="checkbox" name="{{ $value.Id }}"/></td>
					                       <td>{{ $value.Id }}</td>
					                       <td>{{ $value.Name }}</td>
					                       <td>{{ $value.Typeof }}</td>
											<td>
											<a class="btn btn-primary " href="#" role="button"><i class="icon-plus"></i> Edit</a>
											</td>
                                		</tr>
									{{ end }}
                            	</tbody>
								{{ end }}
                        </table>
                    </div>
                    
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.table-responsive -->
                    <div class="well">
                        <h4>DataTables Usage Information</h4>
                        <p>DataTables is a very flexible, advanced tables plugin for jQuery. In SB Admin, we are using a specialized version of DataTables built for Bootstrap 3. We have also customized the table headings to use Font Awesome icons in place of images. For complete documentation on DataTables, visit their website at <a target="_blank" href="https://datatables.net/">https://datatables.net/</a>.</p>
                        <a class="btn btn-default btn-lg btn-block" target="_blank" href="https://datatables.net/">View DataTables Documentation</a>
                    </div>